body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dfe3ee;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.jumbotron {
  background: url("../images/home.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 480px; }
  .jumbotron button {
    margin: 0 auto; }

.jumbotronaug {
  background: url("../images/august.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 480px;
  color: white; }
  .jumbotronaug #headingTwo, .jumbotronaug #collapseTwo {
    color: black; }
    .jumbotronaug #headingTwo .btn, .jumbotronaug #collapseTwo .btn {
      color: white;
      border: 1px solid white; }
    .jumbotronaug #headingTwo .card, .jumbotronaug #collapseTwo .card {
      color: black;
      width: 50%;
      margin: 0 auto; }

.jumbotrongen {
  background: url("../images/Genesis.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 480px;
  color: white; }
  .jumbotrongen #headingTwo, .jumbotrongen #collapseTwo {
    color: black; }
    .jumbotrongen #headingTwo .btn, .jumbotrongen #collapseTwo .btn {
      color: white;
      border: 1px solid white; }
    .jumbotrongen #headingTwo .card, .jumbotrongen #collapseTwo .card {
      color: black;
      width: 50%;
      margin: 0 auto; }

.jumbotronexo {
  background: url("../images/exodus.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 480px;
  color: white; }
  .jumbotronexo #headingTwo, .jumbotronexo #collapseTwo {
    color: black; }
    .jumbotronexo #headingTwo .btn, .jumbotronexo #collapseTwo .btn {
      color: white;
      border: 1px solid white; }
    .jumbotronexo #headingTwo .card, .jumbotronexo #collapseTwo .card {
      color: black;
      width: 50%;
      margin: 0 auto; }

.social-icon {
  width: 50px;
  padding: 7px; }

.border-none {
  border: none; }

.left-border {
  border-left: 3px solid white;
  padding: 5px; }

.row {
  margin: 0; }

nav {
  background-color: #27496d;
  color: white; }
  nav h4 {
    display: none; }
    nav h4 img {
      width: 50px; }
  nav a {
    color: white; }
  nav a:hover {
    color: white; }
  nav a:focus {
    color: white; }

hr {
  font-size: 1px; }

.navbar-toggler-icon {
  display: none; }

#home {
  padding: 10px 50px 10px 50px; }

.left {
  text-align: left; }

.text-white {
  color: white; }

#devotions {
  padding: 10px 50px 10px 50px; }
  #devotions .events {
    margin: 0 auto; }
    #devotions .events .day {
      font-size: 14px; }
    #devotions .events .p {
      margin: 0px; }
  #devotions .btn {
    color: white; }
  #devotions .calendar .card-header {
    font-size: 16px;
    background-color: #1b262c;
    color: white; }
    #devotions .calendar .card-header img {
      width: 30px; }
  #devotions ul li.nav-item {
    padding: 0px; }
  #devotions a {
    color: black; }
  #devotions .nav-link {
    padding: 8px 10px 8px 10px; }
  #devotions .nav-link:focus {
    border: none;
    color: blue; }
  #devotions .nav-link:hover {
    border: none;
    color: blue;
    box-shadow: none;
    padding: 10px 11px 8px 11px; }
  #devotions a.active {
    border: none;
    color: blue; }
  #devotions #cal-body .card-header {
    background-color: #1b262c;
    color: white;
    text-align: left; }
    #devotions #cal-body .card-header span {
      font-size: 14px; }
  #devotions #cal-body a.modal-link {
    color: blue;
    margin-top: 10px;
    padding: 0px; }
  #devotions #cal-body pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    padding: 10px 30px 10px 30px; }

.nav-link.active {
  background-color: black;
  color: white;
  text-align: center; }

.red {
  color: red; }

#Genesis {
  padding: 10px 50px 10px 50px; }
  #Genesis .gen-card {
    padding: 0px; }
  #Genesis .carousel-control-next, #Genesis .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease; }
  #Genesis .card {
    border: none;
    color: black; }
    #Genesis .card ul {
      white-space: nowrap;
      overflow-x: auto;
      display: inline-block;
      padding: 5px 20px 5px 20px;
      border-bottom: none;
      color: white; }
    #Genesis .card ul li {
      display: inline-block;
      float: none; }
    #Genesis .card .nav-link {
      padding: 3px;
      color: white; }
    #Genesis .card .nav-link:focus {
      background-color: white;
      color: black; }
    #Genesis .card .nav-link:hover {
      background-color: white;
      color: black; }
    #Genesis .card .nav-link.active {
      background-color: white;
      color: black; }
  #Genesis #gen1-2 .card,
  #Genesis #profile2 .card,
  #Genesis #messages3 .card,
  #Genesis #settings4 .card,
  #Genesis #G910 .card,
  #Genesis #G1112 .card,
  #Genesis #G1314 .card,
  #Genesis #G1516 .card,
  #Genesis #G1718 .card,
  #Genesis #G1920 .card,
  #Genesis #G2122 .card,
  #Genesis #G2324 .card,
  #Genesis #G2527 .card,
  #Genesis #G2829 .card,
  #Genesis #G3031 .card,
  #Genesis #G3233 .card,
  #Genesis #G3334 .card,
  #Genesis #G35 .card,
  #Genesis #G3637 .card,
  #Genesis #G3839 .card,
  #Genesis #G4041 .card,
  #Genesis #G4243 .card,
  #Genesis #G4445 .card,
  #Genesis #G4647 .card,
  #Genesis #G4849 .card,
  #Genesis #G50 .card {
    padding: 0px; }
  #Genesis #gen1-2 .card-body,
  #Genesis #profile2 .card-body,
  #Genesis #messages3 .card-body,
  #Genesis #settings4 .card-body,
  #Genesis #G910 .card-body,
  #Genesis #G1112 .card-body,
  #Genesis #G1314 .card-body,
  #Genesis #G1516 .card-body,
  #Genesis #G1718 .card-body,
  #Genesis #G1920 .card-body,
  #Genesis #G2122 .card-body,
  #Genesis #G2324 .card-body,
  #Genesis #G2527 .card-body,
  #Genesis #G2829 .card-body,
  #Genesis #G3031 .card-body,
  #Genesis #G3233 .card-body,
  #Genesis #G3334 .card-body,
  #Genesis #G35 .card-body,
  #Genesis #G3637 .card-body,
  #Genesis #G3839 .card-body,
  #Genesis #G4041 .card-body,
  #Genesis #G4243 .card-body,
  #Genesis #G4445 .card-body,
  #Genesis #G4647 .card-body,
  #Genesis #G4849 .card-body,
  #Genesis #G50 .card-body {
    padding: 10px; }
    #Genesis #gen1-2 .card-body .card-title, #Genesis #gen1-2 .card-body .card-subtitle,
    #Genesis #profile2 .card-body .card-title,
    #Genesis #profile2 .card-body .card-subtitle,
    #Genesis #messages3 .card-body .card-title,
    #Genesis #messages3 .card-body .card-subtitle,
    #Genesis #settings4 .card-body .card-title,
    #Genesis #settings4 .card-body .card-subtitle,
    #Genesis #G910 .card-body .card-title,
    #Genesis #G910 .card-body .card-subtitle,
    #Genesis #G1112 .card-body .card-title,
    #Genesis #G1112 .card-body .card-subtitle,
    #Genesis #G1314 .card-body .card-title,
    #Genesis #G1314 .card-body .card-subtitle,
    #Genesis #G1516 .card-body .card-title,
    #Genesis #G1516 .card-body .card-subtitle,
    #Genesis #G1718 .card-body .card-title,
    #Genesis #G1718 .card-body .card-subtitle,
    #Genesis #G1920 .card-body .card-title,
    #Genesis #G1920 .card-body .card-subtitle,
    #Genesis #G2122 .card-body .card-title,
    #Genesis #G2122 .card-body .card-subtitle,
    #Genesis #G2324 .card-body .card-title,
    #Genesis #G2324 .card-body .card-subtitle,
    #Genesis #G2527 .card-body .card-title,
    #Genesis #G2527 .card-body .card-subtitle,
    #Genesis #G2829 .card-body .card-title,
    #Genesis #G2829 .card-body .card-subtitle,
    #Genesis #G3031 .card-body .card-title,
    #Genesis #G3031 .card-body .card-subtitle,
    #Genesis #G3233 .card-body .card-title,
    #Genesis #G3233 .card-body .card-subtitle,
    #Genesis #G3334 .card-body .card-title,
    #Genesis #G3334 .card-body .card-subtitle,
    #Genesis #G35 .card-body .card-title,
    #Genesis #G35 .card-body .card-subtitle,
    #Genesis #G3637 .card-body .card-title,
    #Genesis #G3637 .card-body .card-subtitle,
    #Genesis #G3839 .card-body .card-title,
    #Genesis #G3839 .card-body .card-subtitle,
    #Genesis #G4041 .card-body .card-title,
    #Genesis #G4041 .card-body .card-subtitle,
    #Genesis #G4243 .card-body .card-title,
    #Genesis #G4243 .card-body .card-subtitle,
    #Genesis #G4445 .card-body .card-title,
    #Genesis #G4445 .card-body .card-subtitle,
    #Genesis #G4647 .card-body .card-title,
    #Genesis #G4647 .card-body .card-subtitle,
    #Genesis #G4849 .card-body .card-title,
    #Genesis #G4849 .card-body .card-subtitle,
    #Genesis #G50 .card-body .card-title,
    #Genesis #G50 .card-body .card-subtitle {
      text-align: center; }
  #Genesis #gen1-2 .back,
  #Genesis #profile2 .back,
  #Genesis #messages3 .back,
  #Genesis #settings4 .back,
  #Genesis #G910 .back,
  #Genesis #G1112 .back,
  #Genesis #G1314 .back,
  #Genesis #G1516 .back,
  #Genesis #G1718 .back,
  #Genesis #G1920 .back,
  #Genesis #G2122 .back,
  #Genesis #G2324 .back,
  #Genesis #G2527 .back,
  #Genesis #G2829 .back,
  #Genesis #G3031 .back,
  #Genesis #G3233 .back,
  #Genesis #G3334 .back,
  #Genesis #G35 .back,
  #Genesis #G3637 .back,
  #Genesis #G3839 .back,
  #Genesis #G4041 .back,
  #Genesis #G4243 .back,
  #Genesis #G4445 .back,
  #Genesis #G4647 .back,
  #Genesis #G4849 .back,
  #Genesis #G50 .back {
    background-color: #e4e3e3;
    color: white;
    margin-top: 5px; }
  #Genesis #gen1-2 pre,
  #Genesis #profile2 pre,
  #Genesis #messages3 pre,
  #Genesis #settings4 pre,
  #Genesis #G910 pre,
  #Genesis #G1112 pre,
  #Genesis #G1314 pre,
  #Genesis #G1516 pre,
  #Genesis #G1718 pre,
  #Genesis #G1920 pre,
  #Genesis #G2122 pre,
  #Genesis #G2324 pre,
  #Genesis #G2527 pre,
  #Genesis #G2829 pre,
  #Genesis #G3031 pre,
  #Genesis #G3233 pre,
  #Genesis #G3334 pre,
  #Genesis #G35 pre,
  #Genesis #G3637 pre,
  #Genesis #G3839 pre,
  #Genesis #G4041 pre,
  #Genesis #G4243 pre,
  #Genesis #G4445 pre,
  #Genesis #G4647 pre,
  #Genesis #G4849 pre,
  #Genesis #G50 pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif; }
  #Genesis #gen1-2 .modal .modal-header,
  #Genesis #profile2 .modal .modal-header,
  #Genesis #messages3 .modal .modal-header,
  #Genesis #settings4 .modal .modal-header,
  #Genesis #G910 .modal .modal-header,
  #Genesis #G1112 .modal .modal-header,
  #Genesis #G1314 .modal .modal-header,
  #Genesis #G1516 .modal .modal-header,
  #Genesis #G1718 .modal .modal-header,
  #Genesis #G1920 .modal .modal-header,
  #Genesis #G2122 .modal .modal-header,
  #Genesis #G2324 .modal .modal-header,
  #Genesis #G2527 .modal .modal-header,
  #Genesis #G2829 .modal .modal-header,
  #Genesis #G3031 .modal .modal-header,
  #Genesis #G3233 .modal .modal-header,
  #Genesis #G3334 .modal .modal-header,
  #Genesis #G35 .modal .modal-header,
  #Genesis #G3637 .modal .modal-header,
  #Genesis #G3839 .modal .modal-header,
  #Genesis #G4041 .modal .modal-header,
  #Genesis #G4243 .modal .modal-header,
  #Genesis #G4445 .modal .modal-header,
  #Genesis #G4647 .modal .modal-header,
  #Genesis #G4849 .modal .modal-header,
  #Genesis #G50 .modal .modal-header {
    color: black; }
  #Genesis #gen1-2 .modal .modal-body,
  #Genesis #profile2 .modal .modal-body,
  #Genesis #messages3 .modal .modal-body,
  #Genesis #settings4 .modal .modal-body,
  #Genesis #G910 .modal .modal-body,
  #Genesis #G1112 .modal .modal-body,
  #Genesis #G1314 .modal .modal-body,
  #Genesis #G1516 .modal .modal-body,
  #Genesis #G1718 .modal .modal-body,
  #Genesis #G1920 .modal .modal-body,
  #Genesis #G2122 .modal .modal-body,
  #Genesis #G2324 .modal .modal-body,
  #Genesis #G2527 .modal .modal-body,
  #Genesis #G2829 .modal .modal-body,
  #Genesis #G3031 .modal .modal-body,
  #Genesis #G3233 .modal .modal-body,
  #Genesis #G3334 .modal .modal-body,
  #Genesis #G35 .modal .modal-body,
  #Genesis #G3637 .modal .modal-body,
  #Genesis #G3839 .modal .modal-body,
  #Genesis #G4041 .modal .modal-body,
  #Genesis #G4243 .modal .modal-body,
  #Genesis #G4445 .modal .modal-body,
  #Genesis #G4647 .modal .modal-body,
  #Genesis #G4849 .modal .modal-body,
  #Genesis #G50 .modal .modal-body {
    padding-top: 2px;
    color: white; }
    #Genesis #gen1-2 .modal .modal-body .tab-content pre,
    #Genesis #profile2 .modal .modal-body .tab-content pre,
    #Genesis #messages3 .modal .modal-body .tab-content pre,
    #Genesis #settings4 .modal .modal-body .tab-content pre,
    #Genesis #G910 .modal .modal-body .tab-content pre,
    #Genesis #G1112 .modal .modal-body .tab-content pre,
    #Genesis #G1314 .modal .modal-body .tab-content pre,
    #Genesis #G1516 .modal .modal-body .tab-content pre,
    #Genesis #G1718 .modal .modal-body .tab-content pre,
    #Genesis #G1920 .modal .modal-body .tab-content pre,
    #Genesis #G2122 .modal .modal-body .tab-content pre,
    #Genesis #G2324 .modal .modal-body .tab-content pre,
    #Genesis #G2527 .modal .modal-body .tab-content pre,
    #Genesis #G2829 .modal .modal-body .tab-content pre,
    #Genesis #G3031 .modal .modal-body .tab-content pre,
    #Genesis #G3233 .modal .modal-body .tab-content pre,
    #Genesis #G3334 .modal .modal-body .tab-content pre,
    #Genesis #G35 .modal .modal-body .tab-content pre,
    #Genesis #G3637 .modal .modal-body .tab-content pre,
    #Genesis #G3839 .modal .modal-body .tab-content pre,
    #Genesis #G4041 .modal .modal-body .tab-content pre,
    #Genesis #G4243 .modal .modal-body .tab-content pre,
    #Genesis #G4445 .modal .modal-body .tab-content pre,
    #Genesis #G4647 .modal .modal-body .tab-content pre,
    #Genesis #G4849 .modal .modal-body .tab-content pre,
    #Genesis #G50 .modal .modal-body .tab-content pre {
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      font-family: 'Roboto', sans-serif;
      font-size: 14px; }
    #Genesis #gen1-2 .modal .modal-body ul,
    #Genesis #profile2 .modal .modal-body ul,
    #Genesis #messages3 .modal .modal-body ul,
    #Genesis #settings4 .modal .modal-body ul,
    #Genesis #G910 .modal .modal-body ul,
    #Genesis #G1112 .modal .modal-body ul,
    #Genesis #G1314 .modal .modal-body ul,
    #Genesis #G1516 .modal .modal-body ul,
    #Genesis #G1718 .modal .modal-body ul,
    #Genesis #G1920 .modal .modal-body ul,
    #Genesis #G2122 .modal .modal-body ul,
    #Genesis #G2324 .modal .modal-body ul,
    #Genesis #G2527 .modal .modal-body ul,
    #Genesis #G2829 .modal .modal-body ul,
    #Genesis #G3031 .modal .modal-body ul,
    #Genesis #G3233 .modal .modal-body ul,
    #Genesis #G3334 .modal .modal-body ul,
    #Genesis #G35 .modal .modal-body ul,
    #Genesis #G3637 .modal .modal-body ul,
    #Genesis #G3839 .modal .modal-body ul,
    #Genesis #G4041 .modal .modal-body ul,
    #Genesis #G4243 .modal .modal-body ul,
    #Genesis #G4445 .modal .modal-body ul,
    #Genesis #G4647 .modal .modal-body ul,
    #Genesis #G4849 .modal .modal-body ul,
    #Genesis #G50 .modal .modal-body ul {
      padding: 5px; }
    #Genesis #gen1-2 .modal .modal-body .nav-link,
    #Genesis #profile2 .modal .modal-body .nav-link,
    #Genesis #messages3 .modal .modal-body .nav-link,
    #Genesis #settings4 .modal .modal-body .nav-link,
    #Genesis #G910 .modal .modal-body .nav-link,
    #Genesis #G1112 .modal .modal-body .nav-link,
    #Genesis #G1314 .modal .modal-body .nav-link,
    #Genesis #G1516 .modal .modal-body .nav-link,
    #Genesis #G1718 .modal .modal-body .nav-link,
    #Genesis #G1920 .modal .modal-body .nav-link,
    #Genesis #G2122 .modal .modal-body .nav-link,
    #Genesis #G2324 .modal .modal-body .nav-link,
    #Genesis #G2527 .modal .modal-body .nav-link,
    #Genesis #G2829 .modal .modal-body .nav-link,
    #Genesis #G3031 .modal .modal-body .nav-link,
    #Genesis #G3233 .modal .modal-body .nav-link,
    #Genesis #G3334 .modal .modal-body .nav-link,
    #Genesis #G35 .modal .modal-body .nav-link,
    #Genesis #G3637 .modal .modal-body .nav-link,
    #Genesis #G3839 .modal .modal-body .nav-link,
    #Genesis #G4041 .modal .modal-body .nav-link,
    #Genesis #G4243 .modal .modal-body .nav-link,
    #Genesis #G4445 .modal .modal-body .nav-link,
    #Genesis #G4647 .modal .modal-body .nav-link,
    #Genesis #G4849 .modal .modal-body .nav-link,
    #Genesis #G50 .modal .modal-body .nav-link {
      color: black;
      padding: 2px 6px 2px 5px; }
    #Genesis #gen1-2 .modal .modal-body .nav-link:focus,
    #Genesis #profile2 .modal .modal-body .nav-link:focus,
    #Genesis #messages3 .modal .modal-body .nav-link:focus,
    #Genesis #settings4 .modal .modal-body .nav-link:focus,
    #Genesis #G910 .modal .modal-body .nav-link:focus,
    #Genesis #G1112 .modal .modal-body .nav-link:focus,
    #Genesis #G1314 .modal .modal-body .nav-link:focus,
    #Genesis #G1516 .modal .modal-body .nav-link:focus,
    #Genesis #G1718 .modal .modal-body .nav-link:focus,
    #Genesis #G1920 .modal .modal-body .nav-link:focus,
    #Genesis #G2122 .modal .modal-body .nav-link:focus,
    #Genesis #G2324 .modal .modal-body .nav-link:focus,
    #Genesis #G2527 .modal .modal-body .nav-link:focus,
    #Genesis #G2829 .modal .modal-body .nav-link:focus,
    #Genesis #G3031 .modal .modal-body .nav-link:focus,
    #Genesis #G3233 .modal .modal-body .nav-link:focus,
    #Genesis #G3334 .modal .modal-body .nav-link:focus,
    #Genesis #G35 .modal .modal-body .nav-link:focus,
    #Genesis #G3637 .modal .modal-body .nav-link:focus,
    #Genesis #G3839 .modal .modal-body .nav-link:focus,
    #Genesis #G4041 .modal .modal-body .nav-link:focus,
    #Genesis #G4243 .modal .modal-body .nav-link:focus,
    #Genesis #G4445 .modal .modal-body .nav-link:focus,
    #Genesis #G4647 .modal .modal-body .nav-link:focus,
    #Genesis #G4849 .modal .modal-body .nav-link:focus,
    #Genesis #G50 .modal .modal-body .nav-link:focus {
      background-color: #eeeeee; }
    #Genesis #gen1-2 .modal .modal-body .nav-link.active,
    #Genesis #profile2 .modal .modal-body .nav-link.active,
    #Genesis #messages3 .modal .modal-body .nav-link.active,
    #Genesis #settings4 .modal .modal-body .nav-link.active,
    #Genesis #G910 .modal .modal-body .nav-link.active,
    #Genesis #G1112 .modal .modal-body .nav-link.active,
    #Genesis #G1314 .modal .modal-body .nav-link.active,
    #Genesis #G1516 .modal .modal-body .nav-link.active,
    #Genesis #G1718 .modal .modal-body .nav-link.active,
    #Genesis #G1920 .modal .modal-body .nav-link.active,
    #Genesis #G2122 .modal .modal-body .nav-link.active,
    #Genesis #G2324 .modal .modal-body .nav-link.active,
    #Genesis #G2527 .modal .modal-body .nav-link.active,
    #Genesis #G2829 .modal .modal-body .nav-link.active,
    #Genesis #G3031 .modal .modal-body .nav-link.active,
    #Genesis #G3233 .modal .modal-body .nav-link.active,
    #Genesis #G3334 .modal .modal-body .nav-link.active,
    #Genesis #G35 .modal .modal-body .nav-link.active,
    #Genesis #G3637 .modal .modal-body .nav-link.active,
    #Genesis #G3839 .modal .modal-body .nav-link.active,
    #Genesis #G4041 .modal .modal-body .nav-link.active,
    #Genesis #G4243 .modal .modal-body .nav-link.active,
    #Genesis #G4445 .modal .modal-body .nav-link.active,
    #Genesis #G4647 .modal .modal-body .nav-link.active,
    #Genesis #G4849 .modal .modal-body .nav-link.active,
    #Genesis #G50 .modal .modal-body .nav-link.active {
      background-color: #eeeeee; }

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white; }

/* media queries */
@media only screen and (max-width: 480px) {
  .jumbotron, .jumbotronexo, .jumbotronaug, .jumbotrongen, .jumbotron {
    height: 300px; }

  #Genesis {
    padding: 0px; }
    #Genesis .chapter, #Genesis .chapter-content {
      padding: 0px; }

  .jumbotronaug {
    height: 480px;
    color: white; }
    .jumbotronaug #headingTwo, .jumbotronaug #collapseTwo {
      color: black; }
      .jumbotronaug #headingTwo .btn, .jumbotronaug #collapseTwo .btn {
        color: white;
        border: 1px solid white; }
      .jumbotronaug #headingTwo .card, .jumbotronaug #collapseTwo .card {
        color: black;
        width: 50%;
        margin: 0 auto; }

  nav {
    background-color: #27496d;
    color: white; }
    nav h4 {
      display: block; }
      nav h4 img {
        width: 50px; }
    nav h2 {
      display: none; }
    nav a {
      color: white; }

  .card-text {
    font-size: 14px;
    padding: 5px; }

  .navbar-toggler-icon {
    display: block; }

  #home {
    padding: 1px; }

  #devotions {
    padding: 0px; } }
@media only screen and (max-width: 768px) {
  #Genesis {
    padding: 0px; }
    #Genesis .gen-card {
      padding: 0px; }
    #Genesis .chapter, #Genesis .chapter-content {
      padding: 0px; }

  #myTab {
    padding: 0px; }

  nav {
    background-color: #27496d;
    color: white; }
    nav h4 {
      text-align: center;
      display: block; }
      nav h4 img {
        width: 50px;
        margin: 0 auto; }
    nav a {
      color: white; }
    nav a:hover {
      color: white; }
    nav a:focus {
      color: white; } }
@media only screen and (max-width: 1024px) {
  #Genesis {
    padding: 0px; }
    #Genesis .gen-card {
      padding: 0px; }
    #Genesis .chapter, #Genesis .chapter-content {
      padding: 0px; }

  nav {
    background-color: #27496d;
    color: white; }
    nav h4 {
      text-align: center;
      display: block; }
      nav h4 img {
        width: 50px;
        margin: 0 auto; }
    nav a {
      color: white; }
    nav a:hover {
      color: white; }
    nav a:focus {
      color: white; } }

/*# sourceMappingURL=stle.css.map */
