
$theme-color :(
	"primary":#F42272,
	"secondary": #F397D6,
	"white":#FCFCFC,
	"lgray":#BFADA3,
	"darkgray":#31393C
	);

$border-radius: 0px;
$navbar-padding-y: 0px;
$navbar-brand-padding-y: 0px;
$navbar-toggler-padding:3px;


$white: #E4DFDA;
$head: #111111;
$body: #999999;
$link: #333333;
$hover: #555555;

body{
	padding:0;
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color:#dfe3ee;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
// .........float........

// .float{
// 	position:fixed;
	
// 	border-radius:50px;
// 	text-align:center;
// 	background-color: white;
// 	z-index: 991;
// }
#exampleModal{
	pre{
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		font-family: 'Roboto', sans-serif;
	}
}
.my-float{
	width: 30px;
}

.jumbotron{
	background: url('../images/home.jpg')no-repeat center center fixed;
	background-size: cover;
	height: 480px;
	.modal-body{
		font-size: 13px;
	}
	button{
		margin: 0 auto;
	}
}

.jumbotronaug{
	background: url('../images/august.jpg')no-repeat center center fixed;
	background-size: cover;
	height: 480px;
	color:white;
	#headingTwo,#collapseTwo{
		color:black;
		.btn{
			color: white;
			border:1px solid white;
		}
		.card{
			color: black;
			width:50%;
			margin: 0 auto;
		}
	}
}
.jumbotrongen{
	background: url('../images/Genesis.jpg')no-repeat center center fixed;
	background-size: cover;
	height: 480px;
	color:white;
	#headingTwo,#collapseTwo{
		color:black;
		.btn{
			color: white;
			border:1px solid white;
		}
		.card{
			color: black;
			width:50%;
			margin: 0 auto;
		}
	}
}
.jumbotronexo{
	background: url('../images/exodus.jpg')no-repeat center center fixed;
	background-size: cover;
	height: 480px;
	color:white;
	#headingTwo,#collapseTwo{
		color:black;
		.btn{
			color: white;
			border:1px solid white;
		}
		.card{
			color: black;
			width:50%;
			margin: 0 auto;
		}
	}
}
.social-icon{
	width: 50px;
	padding: 7px;
}
.border-none{
	border:none;
}
.left-border{
	border-left: 3px solid white;
	padding:5px;
}
.row{
	margin:0;
}
nav{
	background-color: #27496d;
	color:white;
	h4{
		display: none;
		img{
			width: 50px;
		}
	}
	h2{
		display: block;
	}
	a{
		color:white;
	}
	a:hover{
		color: white;
	}
	a:focus{
		color: white;
	}
}
hr{
	font-size: 1px;
}
.navbar-toggler-icon{
	display:none;
}
#home{
	padding:10px 50px 10px 50px;
	.card{
		
		.card-body{
		}
	}
}
.left{
	text-align: left;
}
.text-white{
	color:white;
}
// .............devotions..........

#devotions{
	padding: 10px 50px 10px 50px;
	.events{
		margin:0 auto;
		.day{
			font-size: 14px;
		}
		.p{
			
			margin:0px;
		}
	}
	.btn{
		color:white;
	}
	.calendar{
		.card-header{
			font-size: 16px;
			background-color: #1b262c;
			color: white;
			img{
				width: 30px;
			}
		}
	}
	ul{
		li.nav-item{
			padding:0px;
		}
		
	}
	a{
		color: black;
	}
	.nav-link{
		padding:8px 10px 8px 10px;
		
	}
	.nav-link:focus{
		border:none;
		color:blue;
	}
	.nav-link:hover{
		border:none;
		color:blue;
		box-shadow: none;
		padding:10px 11px 8px 11px;
		
	}
	a.active{
		border:none;
		color:blue;
	}

	#cal-body{
		.card-header{
			background-color: #1b262c;
			color: white;
			text-align: left;
			span{
				font-size: 14px;
			}
		}
		a.modal-link{
			color: blue;
			margin-top: 10px;
			padding:0px;
		}
		pre{
			overflow-x: auto;
			white-space: pre-wrap;
			white-space: -moz-pre-wrap;
			white-space: -pre-wrap;
			white-space: -o-pre-wrap;
			word-wrap: break-word;
			font-family: 'Roboto', sans-serif;
			padding:10px 30px 10px 30px;

		}	
	}
}
.nav-link.active{
	background-color: black;
	color:white;
	text-align: center;
}
.red{
	color: red;
}

// ...............genesis..............
#Genesis{
	padding:10px 50px 10px 50px;
	.gen-card{
		padding:0px;
	}
	.tab-content{
	}
	.carousel-control-next, .carousel-control-prev {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 5%;
		color: #fff;
		text-align: center;
		opacity: .5;
		transition: opacity .15s ease;
	}
	.card{
		border:none;
		color: black;

		

		ul {
			white-space: nowrap;
			overflow-x: auto;
			display: inline-block;
			padding:5px 20px 5px 20px;
			border-bottom: none;
			color:white;
		}
		ul li {
			display: inline-block;
			float: none;
		}
		.nav-link{
			padding:3px;
			color:white;
		}
		.nav-link:focus{
			background-color: white;
			color:black;
		}
		.nav-link:hover{
			background-color: white;
			color:black;
		}
		.nav-link.active{
			background-color: white;
			color:black;
		}

	}
	#gen1-2,
	#profile2,
	#messages3,
	#settings4,
	#G910,
	#G1112,
	#G1314,
	#G1516,
	#G1718,
	#G1920,
	#G2122,
	#G2324,
	#G2527,
	#G2829,
	#G3031,
	#G3233,
	#G3334,
	#G35,
	#G3637,
	#G3839,
	#G4041,
	#G4243,
	#G4445,
	#G4647,
	#G4849,
	#G50{
		.card{
			padding:0px;
		}
		.card-body{
			padding:10px;
			.card-title, .card-subtitle{
				text-align: center;
			}

		}
		.back{
			background-color: #e4e3e3;
			color:white;
			margin-top: 5px;
		}
		pre{
			overflow-x: auto;
			white-space: pre-wrap;
			white-space: -moz-pre-wrap;
			white-space: -pre-wrap;
			white-space: -o-pre-wrap;
			word-wrap: break-word;
			font-family: 'Roboto', sans-serif;

		}

		.modal{
			.modal-header{
				color: black;
			}
			.modal-body{
				padding-top: 2px;
				color:white;
				.tab-content{
					pre{
						overflow-x: auto;
						white-space: pre-wrap;
						white-space: -moz-pre-wrap;
						white-space: -pre-wrap;
						white-space: -o-pre-wrap;
						word-wrap: break-word;
						font-family: 'Roboto', sans-serif;
						font-size: 14px;
					}
				}
				ul{
					padding:5px;
				}
				.nav-link{
					color:black;
					padding: 2px 6px 2px 5px;
				}
				
				.nav-link:focus{
					background-color: #eeeeee;
				}
				.nav-link.active{
					background-color: #eeeeee;
				}
			}
		}
	}
	
}

footer{
	background-color: black;
	text-align: center;
	font-size: 12px;
	margin-top: auto;
	padding:20px;
	color:white;
}

/* media queries */
@mixin phone{
	@media only screen and (max-width:480px){
		@content;
	}
}


@mixin ipad{
	@media only screen and (max-width:768px){
		@content;
	}
}
@mixin add{
	@media only screen and (max-width:986px){
		@content;
	}
}
@mixin ipadpro{
	@media only screen and (max-width:1024px){
		@content;
	}
}

@include phone{
	.jumbotron, .jumbotronexo, .jumbotronaug, .jumbotrongen{
		height: 370px;
	}
	#Genesis{
		padding:0px;
		.chapter, .chapter-content{
			padding:0px;
		}
	}
	nav{
		background-color: #27496d;
		color:white;
		h4{
			display: block;
			img{
				width: 50px;
			}
		}
		h2{
			display: none;
		}
		a{
			color:white;
		}
	}
	.card-text{
		font-size: 14px;
		padding:5px;
	}
	.navbar-toggler-icon{
		display:block;
	}
	#home{
		padding:1px;
		.card{

			.card-body{

			}
		}
	}
	#devotions{
		padding:0px;
	}

}


@include ipad{
	#Genesis{
		padding:0px;
		.gen-card{
			padding:0px;
		}
		.chapter, .chapter-content{
			padding:0px;
		}
		
	}
	#myTab{
		padding:0px;
	}
	nav{
		background-color: #27496d;
		color:white;
		h4{
			display: block;
			img{
				width: 50px;
			}
		}
		h2{
			display: none;
		}
		a{
			color:white;
		}
	}
}

@include add{
	#Genesis{

		padding:0px;
		.gen-card{
			padding:0px;
		}
		.chapter, .chapter-content{
			padding:0px;
		}
	}
	nav{
		background-color: #27496d;
		color:white;
		h4{
			display: block;
			img{
				width: 50px;
			}
		}
		h2{
			display: none;
		}
		a{
			color:white;
		}
	}
	
}